[submodule "files/.janus/vim-jsx-pretty"]
	path = files/.janus/vim-jsx-pretty
	url = https://github.com/maxmellon/vim-jsx-pretty.git
[submodule "files/.janus/vim-graphql"]
	path = files/.janus/vim-graphql
	url = https://github.com/jparise/vim-graphql.git
[submodule "files/.janus/vim-js"]
	path = files/.janus/vim-js
	url = https://github.com/yuezk/vim-js.git
[submodule "files/.janus/coc.nvim"]
	path = files/.janus/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule "files/.oh-my-zsh-custom/plugins/you-should-use"]
	path = files/.oh-my-zsh-custom/plugins/you-should-use
	url = https://github.com/MichaelAquilina/zsh-you-should-use.git
