[user]
	name = Parsha Pourkhomami
	email = parshap+git@gmail.com

[github]
	user = parshap

[core]
	autocrlf = input
	editor = vim

[alias]
	# Simple shortcuts
	s = status -sb
	c = commit --verbose
	ca = commit --amend --verbose
	a = add
	au = add --update
	d = diff
	dc = diff --cached
	co = checkout
	cob = checkout -b
	b = branch
	f = fetch
	cp = cherry-pick
	sm = submodule
	smu = submodule update --init --recursive
	r = rebase --autostash
	ri = rebase --interactive --autostash --autosquash
	rc = rebase --continue
	ra = rebase --abort
	g = grep --perl-regexp
	amend = commit --amend
	bu = branch --set-upstream-to

	# Get SHA1 hash of HEAD commit
	hash = rev-parse HEAD

	# Don't let pull create merges
	p = pull --ff-only

	# Merge always merges
	m = merge --no-ff

	# Merge with fast-forward
	ff = merge --ff-only

	# Pretty log formatting
	l = "log --decorate --format=format:'%Creset<%Cred%ad%Creset> %Cgreen%h%d %Creset%s (%Cblue%aN%Creset)' --date=short"

	# Display the current head only
	head = "log --decorate --format=format:'%Creset<%Cred%ad%Creset> %Cgreen%h%d %Creset%s (%Cblue%aN%Creset)' --date=short -n 1"

	# Pretty log graph formatting
	lg = "log --graph --pretty=oneline --abbrev-commit --decorate"

	# Amend previous commit
	# http://superuser.com/a/170828
	fix = commit --amend -C HEAD

	# "When you're a little worried taht the world is coming to an end"
	# http://superuser.com/questions/169695/what-are-your-favorite-git-aliases/169702#169702
	panic = !tar cvf ../git_panic.tar *

	# Get the project root directory
	root = !pwd

	# Git log author=parshap
	lme = "! git l --all --author=\"$(git config user.email)\""

	# Remove local branches that have been merged into master
	# See http://ben.lobaugh.net/blog/201616/cleanup-and-remove-all-merged-local-and-remote-git-branches
	remove-merged-branches = "! git branch --merged | grep -v \" master$\" | xargs -n 1 git branch -d"

[color]
	ui = true
[merge]
	tool = vimdiff
